<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Relative Url</title>
</head>
<body>
    <h1>WELCOME TO THE RELATIVE URL TEMPLATE PAGE </h1>
    <a href="{% url 'basic_app:other' %}"> THE OTHER PAGE</a>
    <a href="{% url 'admin:index' %}"> LINK TO ADMIN</a>
    <a href="{% url 'basic_app:index' %}"> LINK TO HOME PAGE</a>
</body>
</html>